*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

body{

    background: #000;
    min-height: 200vh;

}

header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header .logo{


    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header.sticky{

    padding: 5px 100px;
    background: #fff;

}

header ul{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {

    position: relative;
    list-style: none;
    
}

header ul li a{

    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;

}

.banner{

    position: relative;
    width: 100%;
    height: 50vh;
    background: url(bitbucket-logo-white.png);
    background-size: cover;
    margin-top: 120px;
}

header.sticky .logo,
header.sticky ul li a{

    color: #000;
}

article{

    background: 	#fff;
    width: 95%;
    margin: auto;
    line-height: 1.5;
    padding: 15px 40px;
    margin-top: 250px;
    color: #000;
    border-radius: 40px;
    font-size: 20px;
}